
@using IkinciElAracIhaleSistemi.DAL.DAL
@using IkinciElAracIhaleSistemi.Entities.VM

@{
    KullaniciRolVM kullanici = (Session["girisYapanKullanici"] as KullaniciRolVM);
    List<RolSayfaVM> listMenu = new RolSayfaDAL().RoleGoreSayfaYetkileriniGetir((Session["girisYapanKullanici"] as KullaniciRolVM).RolId);
    ViewBag.Menu = listMenu;
    ViewBag.GirisYapanKullanici = kullanici;
}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="~/Content/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html"><img src="~/Content/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini" href="~/Content/corona-free-dark-bootstrap-admin-template-1.0.0/template/index.html"><img src="~/Content/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
       
        <li class="nav-item profile">
            <div class="profile-desc">
                <div class="profile-pic">
                    <div class="count-indicator">
                        <img class="img-xs rounded-circle " src="~/Content/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/face15.jpg" alt="">
                        <span class="count bg-success"></span>
                    </div>
                    <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">@ViewBag.GirisYapanKullanici.KullaniciIsim @ViewBag.GirisYapanKullanici.KullaniciSoyisim</h5>
                        <span>@ViewBag.GirisYapanKullanici.RolAdi</span>
                    </div>
                </div>
                <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-settings text-primary"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Hesap Ayarları</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-onepassword  text-info"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Şifre Değiştir</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-dark rounded-circle">
                                <i class="mdi mdi-calendar-today text-success"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <p class="preview-subject ellipsis mb-1 text-small">Yapılacaklar Listesi</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>

        @foreach (var item in (List<RolSayfaVM>)ViewBag.Menu)
        {
            <li class="nav-item menu-items">
                <a class="nav-link" href=@item.SayfaLink>
                    <span class="menu-icon">
                        <i class="mdi mdi-car"></i>
                    </span>
                    <span class="menu-title">@item.SayfaIsim</span>
                </a>
            </li>
        }

    </ul>
</nav>
